<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link th:href="@{/css/subpages.css}" rel="stylesheet">
    <link th:href="@{/css/agency.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Smart Explorer</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/join}">Dołącz!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/login/option}">Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/about}">O aplikacji</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/documentation}">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <h1>Wybierz formę rejestracji:</h1>
        <div class="choose_buttons">
            <img th:src="@{/images/fb-icon.png}">
            <a th:href="@{/registration/fb}">Rejestracja przez Facebooka</a>
        </div>
        <a class="choose_buttons" th:href="@{/registration}">Rejestracja za pomocą Loginu i Hasła</a>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Smart Explorer 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Polityka prywatności</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Regulamin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>
    <script th:src="@{/js/agency.min.js}"></script>
</body>
</html>