<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Potwierdzenie rejestracji</title>
</head>
<body>
    <h3>{{username}} witaj w portalu Smart Explorer!</h3>
    <p>Twój proces rejestracji przebiegł pomyślnie. Jeszcze tylko jeden krok, abyś mógł się bezpiecznie zalogować.<br>
        Jeśli chcesz dokończyć proces rejestracji i potwierdzić swoją tożsamość, kliknij poniższy link weryfikacyjny.<br>
        {{verificationLink}}
        <br>
        <hr>
        Twój unikalny identyfikator w naszym serwisie to: {{userId}}
        <br>
        Życzę dobrze spędzonego czasu ze Smart Explorer.
        <br>Karol Meksuła
    </p>
</body>
</html>